[mysqld]
datadir={{ mysql_data_dir }} 
socket={{ mysql_data_dir }}/mysql.sock
user=mysql
port={{ mysql_port }}

symbolic-links=0
innodb=OFF 
default-storage-engine=myisam 
default-tmp-storage-engine=myisam

[mysqld_safe]
log-error=/var/log/mysqld.log
#pid-file={{ mysql_data_dir }}/mysqld.pid